@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shangqing Song<br />
    FIT5032<br />
    <abbr title="Phone">P:</abbr>
    0424232008
</address>

<address>
    
    <strong>Email:</strong> sson0005@student.monash.edu
</address>